<h1>About Us</h1>
<p>LARPing, short for Live Action Role Playing, is a way to get away from everyday life and explore a world of your own making with friends. LARPing involves acting out fantastical scenarios and engaging in make-believe combat with other players while role-playing as a fictional character.</p>

<p>We get together to recreate our favorite role playing campaigns in the park(usually Sunday) then have a baller party. Sounds great huh? Everyone brings a little something and we have a good time. Join our UBER-nerd crew!</p>
