<h2>This member has id number: </h2>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Member info for {{(memberToDisplay)?.name}}</h3>
  </div>
  <div class="panel-body">

    <img src="{{(memberToDisplay)?.imageURL}}">
    <h3>Club Role:{{(memberToDisplay)?.role}}</h3>
    <hr>
    <h4>My typical availability is: <em>{{(memberToDisplay)?.availability}}</em></h4>
    <p>My preference for the ideal picnic food is: <em>{{(memberToDisplay)?.preference}}</em></p>


  </div>
</div>
