
<div class="well">
  <h2>Welcome to the Party!</h2>

  <p>Live Action Role-playing (LARP) is a form of role-playing game where the players perform some or all of the physical actions of the characters they are playing. Your character's attitudes, ambitions, and history are yours to define within the guidelines of the rules for that particular role-playing system. During the game or event you actually perform the actions as that character rather than as yourself. When you interact with others you do so as your character, when you want to fight something you take part in a combat. The organiser of the LRP event provides a gameworld, a storyline, and a playing environment (including props) within which the players play their character.</p>

  <p>Many LRPs utilize some sort of game system that promotes the growth of a character, representing your character learning new skills as they go through their "life". Some LRPs use a point system, where a player is awarded points based on attendance of events or how well they perform at that event; the play can then apply these points to their character to provide growth and mastery of the character's chosen traits.</p>
  <div class="row">
    <div class="left col-md-6">
      <img src="https://club-traumtaenzer.de/key/upload/images/larp1.jpg" alt="">
      <img src="http://images.huffingtonpost.com/2012-10-19-Weekend1.JPG" alt="">
    </div>
    <div class="right col-md-6">
      <img src="http://images5.fanpop.com/image/photos/28700000/Drachenfest-larp-28747893-1000-624.jpg" alt="">
      <img src="https://cityofbyroncity.files.wordpress.com/2013/01/larp-battle-on-the-elf-fantasy-fair-metro-21-04-07.jpg" alt="">
    </div>
  </div>

</div>
