<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Member to Club</h3>
  </div>

  <div class="panel-body">
    <div>
      <label>Member Image URL:</label>
      <br>
      <input [(ngModel)]="selectedMember.imageURL">
    </div>

    <div>
      <label>Member Name:</label>
      <br>
      <input [(ngModel)]="selectedMember.name">
    </div>

    <div>
      <label>Member Role:</label>
      <br>
      <select [(ngModel)]="selectedMember.role">
        <option value="Campaign-Master">Campaign Master</option>
        <option value="Mage">Mage</option>
        <option value="Warrior">Warrior</option>
        <option value="Rogue">Rogue</option>
        <option value="Priest">Priest</option>
      </select>
    </div>

    <div>
      <label>Typical Availability:</label>
      <br>
      <input [(ngModel)]="selectedMember.availability">
    </div>

    <div>
      <label>Picnic Preferenece:</label>
      <br>
      <input [(ngModel)]="selectedMember.preference">
    </div>
    <button (click)="beginUpdatingMember(selectedMember)">Update</button>
    <hr>
    <button (click)="beginDeletingMember(selectedMember)">Delete</button>
  </div>
</div>
